@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  background: #ffffff;
  color: #111827;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}
